/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@media (max-width: 768px) {
    .mobile-text {
        font-size: 14px; /* Tamaño de letra más pequeño para pantallas móviles */
    }
	.description-text {
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 15px;
	}
	.header {
		font-size: 3em;
	}
	.texto-desplegable {
		margin-top: 1px;
		padding: 10px;
	}
	.custom-dropdown {
		position: relative;
		display: flex; /* Utilizamos flexbox para centrar horizontalmente */
		justify-content: center; /* Alineamos los elementos verticalmente en el centro */
		background-color: rgb(7, 128, 139);
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 10px;
		border-radius: 50px;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		border-radius: 50%; /* Ajusta la forma del área de selección */
		padding: 10px; /* Ajusta el relleno del área de selección */
	}
	
	#tableCarousel .carousel-control-prev, .carousel-control-next {
		width: 28%;
		height: 20%;
		transform: translateY(450%);
		margin-right:36%;
		margin-left: 36%;
		margin-top: 3%;
	}

	#pieCarousel .carousel-control-prev {
		top: 36px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	
	#pieCarousel .carousel-control-next {
		top: 36px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}

	#landing {
		height: calc(100vh - 169.86px);
	}
	.conmo-m {
		font-family: 'Righteous', cursive;
		color:white;
		padding: 10px;
		font-size: 250%;
		width: 100%;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
	.title-m-top {
		margin-top: 100px;
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
/* Estilos para pantallas medianas (por ejemplo, tablets) */
	.description-text {
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 15px;
	}
	.header {
		font-size: 4em;
	}
	.texto-desplegable {
		margin-top: 2px;
		padding: 5px;
	}
	.custom-dropdown {
		position: relative;
		display: flex; /* Utilizamos flexbox para centrar horizontalmente */
		justify-content: center; /* Alineamos los elementos verticalmente en el centro */
		background-color: rgb(7, 128, 139);
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
		border-radius: 50px;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		border-radius: 50%; /* Ajusta la forma del área de selección */
		padding: 10px; /* Ajusta el relleno del área de selección */
	}
	
	#tableCarousel .carousel-control-prev, .carousel-control-next {
		width: 5%;
	}
	#pieCarousel .carousel-control-prev {
		top: 38px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	
	#pieCarousel .carousel-control-next {
		top: 38px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	#landing {
		height: calc(100vh - 100px);
	}
	.conmo-m {
		font-family: 'Righteous', cursive;
		color:white;
		padding: 10px;
		font-size: 250%;
	}
	.title-m-top {
		margin-top: 100px;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
}

@media (min-width: 1201px) {
/* Estilos para pantallas grandes (por ejemplo, escritorios) */
	.description-text {
		margin-left: 30%;
		margin-right: 30%;
		padding-bottom: 20px;
	}
	.header {
		font-size: 5em;
	}
	.texto-desplegable {
		margin-top: 10px;
		padding: 10px;
	}
	.custom-dropdown {
		position: relative;
		display: flex; /* Utilizamos flexbox para centrar horizontalmente */
		justify-content: center; /* Alineamos los elementos verticalmente en el centro */
		background-color: rgb(7, 128, 139);
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
		border-radius: 50px;
	}
	.carousel-control-prev-icon, .carousel-control-next-icon {
		border-radius: 50%; /* Ajusta la forma del área de selección */
		padding: 10px; /* Ajusta el relleno del área de selección */
	}
	
	#tableCarousel .carousel-control-prev, .carousel-control-next {
		width: 5%;
	}

	#pieCarousel .carousel-control-prev {
		top: 42px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 38%;
		padding-left: 38%;
	}
	
	#pieCarousel .carousel-control-next {
		top: 42px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 38%;
		padding-left: 38%;
	}
	.conmo-m {
		font-family: 'Righteous', cursive;
		color:white;
		padding: 10px;
		font-size: 250%;
	}
	.title-m-top {
		margin-top: 100px;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(40, 124, 147, 0.162);
    /* background: #8bc34a; este es el color verde */
}

#resumen tr {
/*	color: brown;*/
	background-color: rgb(184, 213, 222);
}

#resumen {
	background-color: rgb(184, 213, 222);
	font-weight: bold;
}

#resumen h2{
	font-size:300%;
}

#resumen .table{
	background-color: rgb(151, 192, 206);
} */

#table-title {
	background-color: rgba(49, 133, 156, 0.596);
}

.amarilloclaro {
	background-color:  rgb(237, 209, 29);
}

/* #table-incomes {
    border-width: 3px;
    border-style: solid;
    border-color: rgb(207, 193, 44);
} */

.textincomes {
	color: rgb(207, 193, 44);
}

.incomes-bg {
	background-color: rgb(207, 193, 44);
	font-weight: bold;
	border-radius: 50px;
	font-size:1.5em;
}

.incomes-part-right {
	background-color: rgb(231, 204, 35);
	font-weight: bold;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.income-light-bg {
	/* background-color: rgb(220, 214, 149); */
	font-weight: bold;
	font-size:1.1em;
	background-color: rgb(207, 193, 44);
}

.income-content-text {
	/* background-color: rgb(255, 251, 204); */
	font-size:1.2em;
}

.text-saves {
	color: rgb(27, 100, 113);
}

.saves-light-bg {
	font-weight: bold;
	font-size:1.1em;
	background-color: rgb(27, 100, 113);
}

.saves-content-bg {
	background-color: rgb(187, 239, 241);
	font-size:1.2em;
}

.saves-part-right {
	background-color: rgb(7, 128, 139); 
	font-weight: bold;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.saves-bold-bg {
	background-color: rgb(27, 100, 113);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.text-usage {
	color: rgb(43, 160, 214);
}

.usage-light-bg {
	background-color: rgb(43, 160, 214);
	font-weight: bold;
	font-size:1.1em;
}

.usage-content-bg {
	background-color: rgb(175, 226, 255);
	font-size:1.2em;
}

.usage-part-right {
	background-color: rgb(108, 181, 223);
	font-weight: bold;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.usage-bold-bg {
	background-color: rgb(43, 160, 214);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.text-fixed {
	color: rgb(147, 40, 90);
}

.fixed-bg {
	background-color: rgb(147, 40, 90);
	font-weight: bold;
	border-radius: 50px;
	font-size:1.5em;
}

.fixed-light-bg {
	font-weight: bold;
	font-size:1.1em;
	background-color:  rgb(147, 40, 90);
}

.fixed-content-bg {
	background-color: rgb(228, 184, 205);
	font-size:1.2em;
}

.fixed-part-right {
	background-color: rgb(192, 22, 101);
	font-weight: bold;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.fixed-bold-bg {
	background-color: rgb(147, 40, 90);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.shadow-right {
	box-shadow: 3px 0px 10px 0px rgba(43, 43, 43, 0.171);
}

.fixed-medium {
	background-color: rgb(183, 73, 124);
}

.fixed-light {
	background-color: rgb(203, 64, 129);
}

.text-ocassional {
	color: rgb(138, 181, 63);
}

.ocassional-bg {
	background-color: rgb(138, 181, 63);
	font-weight: bold;
	border-radius: 50px;
	font-size:1.5em;
}

.ocassional-light-bg {
	font-weight: bold;
	font-size:1.1em;
	background-color:  rgb(138, 181, 63);
}

.ocassional-content-bg {
	background-color: rgb(233, 255, 177);
	font-size:1.2em;
}

.ocassional-part-right {
	background-color: rgb(175, 200, 62);
	font-weight: bold;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.ocassional-bold-bg {
	background-color: rgb(138, 181, 63);
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.text-expenses {
	color: brown;
}

.expense-light-bg {
	font-weight: bold;
	font-size:1.1em;
	background-color: brown;
}

.expense-content-bg {
	background-color: rgb(237, 191, 191);
	font-size:1.2em;
}

.expense-pill {
	margin: 30px 300px;
	justify-self: center;
}

.expense-part-bottom {
	background-color: rgb(195, 111, 111);
	font-weight: bold;
	font-size:1.1em;
	border-radius: 5px;
}

.expense-part-top {
	background-color: brown;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.half-width {
	width: 70%;
  }

.table tbody .line {
	height: 50px; /* Ajusta este valor según tus preferencias para la altura de las filas */
	/* border-bottom: 3px solid rgb(237, 209, 29); */
	font-size: 1.3em;
  }

#table-saves {
	background-color: rgb(27, 100, 113);
}

.table-usage {
	background-color: rgb(43, 160, 214);
}

#table-expenses {
	background-color: brown;
}

#table-fixed {
	background-color: rgb(147, 40, 90);
}

#table-ocassional {
	background-color: rgb(138, 181, 63);
}

#table-of-percentages {
	font-size: small;
}


/* #fondo    aqui estan todos los colores de los piecharts {
	background-color:  rgb(207, 193, 44),
	rgb(147, 40, 129),

	rgb(145, 79, 134),
	rgb(109, 57, 110),
	rgb(161, 6, 112),
	rgb(147, 40, 90),

	rgb(40, 124, 147),

	rgb(29, 180, 122),
	rgb(29, 174, 159),
	rgb(12, 95, 118),
	rgb(75, 130, 139),

	rgb(138, 181, 63),

	rgb(188, 207, 44),
	rgb(96, 146, 12),
	rgb(141, 180, 95),




	rgb(147, 40, 90),

	rgb(147, 60, 100),
	rgb(147, 70, 110),
	rgb(147, 80, 120),
	rgb(147, 90, 130),

	rgb(40, 124, 147),

	rgb(40, 130, 150),
	rgb(40, 140, 160),
	rgb(40, 150, 170),
	rgb(40, 160, 180),

	rgb(138, 181, 63),
	
	rgb(138, 190, 70),
	rgb(138, 200, 80),
	rgb(138, 210, 90),
} */

#fondoizq {
	background-color: rgb(40, 124, 147, 0.564);
}

.conmo /*Da formato al logo*/ {
    font-family: 'Righteous', cursive;
    color:white;
    padding: 10px;
}

.icon {
	cursor: pointer;
	font-size: 20%;
}
  


.table-title {
	background-color: rgb(207, 193, 44);
}

.year-selector {
	border: none;
	font-size: 0.8em;
}

.movements-list {
	font-weight: bold;
	font-size:1.1em;
}

.income-movements {
	color: rgb(207, 193, 44);
}

.saves-movements {
	color: rgb(40, 124, 147);
}

.usage-movements {
	color:  rgb(43, 160, 214);
}

.fixed-movements {
	color: rgb(147, 40, 90);
}

.ocassional-movements {
	color: rgb(138, 181, 63);
}

.movements-head {
	background-color: rgb(27, 100, 113);
}

.movements-list:hover {
    background-color: rgb(207, 222, 227);
}

.seleccionarcolores {
	background-color: rgb(94, 0, 42);
	background-color: rgb(62, 1, 49);
	background-color: rgb(142, 137, 134);
}












.uno{
	background-color: rgb(62, 229, 237);
	color: rgb(27, 100, 113);
}
.dos {
	background-color: rgb(13, 180, 186);
	color: rgb(27, 100, 113);
}
.tres{
	background-color: rgb(7, 128, 139);
	color: rgb(7, 128, 139);
}
.cuatro{
	background-color: rgb(27, 100, 113);
	color: rgb(27, 100, 113);
}
.cinco{
	background-color: rgb(27, 113, 113);
	color: rgb(27, 100, 113);
}
.seis{
	background-color: rgb(6, 151, 156);
	color: rgb(27, 100, 113);
}
.siete{
	background-color: rgb(64, 170, 184);
	color: rgb(40, 124, 147);
}


.uno-cl {
	background-color: rgb(108, 181, 223);
	color: rgb(27, 100, 113);
}
.dos-cl {
	background-color: rgb(34, 147, 199);
	color: rgb(27, 100, 113);
}
.tres-cl {
	background-color: rgb(3, 104, 144);
	color: rgb(27, 100, 113);
}
.cuatro-cl {
	background-color: rgb(23, 87, 123);
	color: rgb(27, 100, 113);
}
.cinco-cl {
	background-color: rgb(29, 126, 167);
	color: rgb(27, 100, 113);
}
.seis-cl {
	background-color: rgb(8, 168, 212);
	color: rgb(40, 124, 147);
}
.siete-cl {
	background-color: rgb(72, 183, 224);
	color: rgb(7, 128, 139);
}
.conmo-lg {
    font-family: 'Righteous', cursive;
    color:white;
    padding: 10px;
	font-size: 400%;
}

.title-in {
    color:white;
	font-size: 300%;
}
.object-fit-cover {
    object-fit: cover;
}

