@media (max-width: 768px) {
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton1 {
		bottom: 150%;
		transition: bottom .5s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton2 {
		bottom: 265%;
		transition: bottom .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton3 {
		bottom: 380%;
		transition: bottom .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton4 {
		bottom: 495%;
		transition: bottom .6s ease;
	}	
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton5 {
		bottom: 610%;
		transition: bottom .6s ease;
	}
	.mobile-text {
	  	font-size: 14px;
	}
	#inputQuantity::placeholder {
		color:  rgb(27, 100, 113);
		text-align: center;
		font-size: 25px;
	}
	.description-text {
		margin-left: 5%;
		margin-right: 5%;
		padding-bottom: 15px;
	}
	.header {
	  	font-size: 3em;
	}
	.texto-desplegable {
		margin-top: 1px;
		padding: 10px;
	}
	.custom-dropdown {
		position: relative;
		display: flex;
		justify-content: center;
		background-color: rgb(7, 128, 139);
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 10px;
		border-radius: 50px;
		z-index: 1000;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		border-radius: 50%;
		padding: 10px;
	}
	#tableCarousel .carousel-control-prev,
	.carousel-control-next {
		width: 28%;
		height: 20%;
		transform: translateY(450%);
		margin-right: 36%;
		margin-left: 36%;
		margin-top: 3%;
	}
	#pieCarousel .carousel-control-prev {
		top: 36px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	#pieCarousel .carousel-control-next {
		top: 36px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	#landing {
	  	height: calc(100vh - 169.86px);
	}
	.conmo-m {
		font-family: "Outfit", sans-serif;
		color: white;
		padding: 10px;
		font-size: 250%;
		width: 100%;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
	.title-m-top {
	  	margin-top: 100px;
	}
	.table-columns {
		text-align: center;
		justify-content: center;
		align-items: center;
		border-radius: 50rem;
		color: white;
		font-size: 14px;
		padding: 0.5rem;
		font-weight: bold;
	}
	.type-table-title {
		font-size: calc(1.375rem + 1.5vw);
		font-weight: bold;
		padding: 0.5rem;
		margin-bottom: 0.5rem;
	}
}
  
@media (min-width: 769px) and (max-width: 1200px) {
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton1 {
		right: 150%;
		transition: right .5s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton2 {
		right: 265%;
		transition: right .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton3 {
		right: 380%;
		transition: right .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton4 {
		right: 495%;
		transition: right .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton5 {
		right: 610%;
		transition: right .6s ease;
	}
	.description-text {
		margin-left: 10%;
		margin-right: 10%;
		padding-bottom: 15px;
	}
	.header {
		font-size: 4em;
	}
	.texto-desplegable {
		margin-top: 2px;
		padding: 5px;
	}
	.custom-dropdown {
		position: relative;
		display: flex;
		justify-content: center;
		background-color: rgb(7, 128, 139);
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
		border-radius: 50px;
		z-index: 1000;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		border-radius: 50%;
		padding: 10px;
	}
	#tableCarousel .carousel-control-prev,
	.carousel-control-next {
		width: 5%;
	}
	#pieCarousel .carousel-control-prev {
		top: 38px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	#pieCarousel .carousel-control-next {
		top: 38px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 25%;
		padding-left: 25%;
	}
	#landing {
		height: calc(100vh - 100px);
	}
	.conmo-m {
		font-family: "Outfit", sans-serif;
		color: white;
		padding: 10px;
		font-size: 250%;
	}
	.title-m-top {
		margin-top: 100px;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
	.table-columns {
		text-align: center;
		justify-content: center;
		align-items: center;
		border-radius: 50rem;
		padding: 1rem;
		color: white;
	}
	.type-table-title {
		font-size: calc(1.375rem + 1.5vw);
		font-weight: bold;
		padding: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

@media (min-width: 1201px) {
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton1 {
		bottom: 150%;
		transition: bottom .5s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton2 {
		bottom: 265%;
		transition: bottom .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton3 {
		bottom: 380%;
		transition: bottom .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton4 {
		bottom: 495%;
		transition: bottom .6s ease;
	}
	.sub-buttons .all-buttons-up-toggle:checked ~ #boton5 {
		bottom: 610%;
		transition: bottom .6s ease;
	}
	.description-text {
		margin-left: 30%;
		margin-right: 30%;
		padding-bottom: 20px;
	}
	.header {
		font-size: 5em;
	}
	.texto-desplegable {
		margin-top: 10px;
		padding: 10px;
	}
	.custom-dropdown {
		position: relative;
		display: flex;
		justify-content: center;
		background-color: rgb(7, 128, 139);
		margin-left: 30%;
		margin-right: 30%;
		margin-top: 10px;
		border-radius: 50px;
		z-index: 1000;
	}
	.carousel-control-prev-icon,
	.carousel-control-next-icon {
		border-radius: 50%;
		padding: 10px;
	}
	#tableCarousel .carousel-control-prev,
	.carousel-control-next {
		width: 5%;
	}
	#pieCarousel .carousel-control-prev {
		top: 42px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 38%;
		padding-left: 38%;
	}
	#pieCarousel .carousel-control-next {
		top: 42px;
		transform: translateY(-50%);
		width: 5%;
		height: 2%;
		padding-right: 38%;
		padding-left: 38%;
	}
	.conmo-m {
		font-family: "Outfit", sans-serif;
		color: white;
		padding: 10px;
		font-size: 250%;
	}
	.title-m-top {
		margin-top: 100px;
	}
	.fa-info-circle {
		position: absolute;
		margin-top: 1rem;
		cursor: pointer;
	}
	.table-columns {
		text-align: center;
		justify-content: center;
		align-items: center;
		border-radius: 50rem;
		padding: 1rem;
		color: white;
	}
	.type-table-title {
		font-size: calc(1.375rem + 1.5vw);
		font-weight: bold;
		padding: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

/* General */
body {
	font-family: "Quicksand", sans-serif;
	background-color: rgba(40, 124, 147, 0.162);
}
button {
	outline: none !important;
	border: none;
}
a {
    height: 5rem;
    width: 100%;
    padding: 10px;
    color: white;
    font-size:large;
    text-decoration: none;
	outline: none !important;
}
a:link {
    color:white;
}
a:hover {
    color:white;
    font-weight: bold;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
input {
	font-size: 1.3em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color: white;
}
input::placeholder {
	font-size: 1.3em;
	color:white;
}
.object-fit-cover {
	object-fit: cover;
}
.custom-dropdown:hover .dropdown-content {
    display: block;
}
.title-in {
	color: white;
	font-size: 300%;
}
.conmo {
    font-family: 'Outfit', sans-serif;
    color:white;
    padding: 10px;
    font-size: 190%;
}
.conmo-lg {
	font-family: "Outfit", sans-serif;
	color: white;
	padding: 10px;
	font-size: 400%;
}
.conmo-title {
    font-family: 'Outfit', sans-serif;
    color:white;
    padding: 10px;
}
.navbar {
    background-color:  rgb(27, 100, 113);
    height: 100px;
}
.rounded-right {
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}
.rounded-left {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}
.btn-check:focus + .btn,
.btn:focus {
	outline: none;
	box-shadow: 0 0 0 0 #ffffff00;
}
.fs-1-2-em {
	font-size: 1.2em;
}
.modal-border {
	border-radius: 2rem;
}
#fs-small {
	font-size: small;
}

/* DateSelector */
.year-selector {
	border: none;
	font-size: 0.8em;
}
.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.drop-title {
    color: #ffffff;
    padding-left: 8px;
}
.dropdown-arrow {
    font-size: 0.5em;
    margin-left: 5px;
    transition: transform 0.3s ease;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(221, 232, 236);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    padding: 10px 0px;
}
.dropdown-item {
    padding: 8px 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.dropdown-item:hover {
    background-color: rgb(194, 221, 231);
}

/* Sesion forms */
#inputEmail {
	font-size: 1.3em;
    outline: none;
    background-color: rgb(7, 128, 139);
	color: white;
}
#inputEmail::placeholder {
	font-size: 1.3em;
	color:white;
}
#inputPassword {
	font-size: 1.3em;
	outline: none;
    background-color: rgb(7, 128, 139);
	color: white;
}
#inputPassword::placeholder {
	font-size: 1.3em;
	color:white;
}
#button-confirm {
    background-color: rgb(33, 107, 127);
}
#modifyCategory::placeholder {
	font-size: 1.3em;
	color: rgb(27, 100, 113);
}

/* Add forms */
select option{
	font-size: 1.3em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color: white;
}
select option::placeholder {
	font-size: 1.3em;
	color: rgb(27, 100, 113);
}
#inputDate {
	font-size: 1.5em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color:  rgb(27, 100, 113);
	text-align: center;
	border-bottom-color:  rgb(27, 100, 113);
	border-top: none;
	border-left: none;
	border-right: none;
}
#inputDate::placeholder {
	color:  rgb(27, 100, 113);
	text-align: center;
}
#inputQuantity {
	font-size: 1.5em;
	color:  rgb(27, 100, 113);
	text-align: center;
	border-bottom-color:  rgb(27, 100, 113);
	border-top: none;
	border-left: none;
	border-right: none;
}
#inputQuantity::placeholder {
	color:  rgb(27, 100, 113);
	text-align: center;
}
#inputCategory {
	font-size: 1.5em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color:  rgb(27, 100, 113);
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom-color:  rgb(27, 100, 113);
	border-top: none;
	border-left: none;
	border-right: none;
}
#inputCategory::placeholder {
	color:  rgb(27, 100, 113);
	font-size: 1em;
	text-align: center;
}
#inputCategory option::placeholder {
	font-size: 1em;
	color: rgb(27, 100, 113);	
	background-color: rgba(40, 124, 147, 0);
}
#inputCategory option{
	font-size: 1em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color: rgb(27, 100, 113);	
}

/* Header */
.info-icon {
	cursor: pointer;
	font-size: 20%;
}

/* AddButtons */
.group-floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
#all-buttons-up {
	display: none;
}
.main-button {
	position: relative;
}
.sub-buttons > .boton {
	position: absolute;
	bottom: 10px;
	right: 5px;
	transition: bottom .5s ease;
	z-index: 0;
}
.sub-buttons .all-buttons-up-toggle:checked ~ .boton button {
	box-shadow: 5px 5px 10px #33333387;
}
.sub-buttons .all-buttons-up-toggle:checked ~ .main-button span {
	transform: rotate(-45deg);
	transition: transform .35s ease;
}
.sub-buttons .all-buttons-up-toggle ~ .main-button span {
	transition: transform .35s ease;
	opacity: 1;
}
.sub-buttons > .main-button > button {
	box-shadow: 0px 5px 10px #333333;
}
.sub-buttons /* modifies foldable buttons */ > li button {
	font-size: 30px;
    color: white;
	background:  rgb(27, 100, 113);
	width: 70px;
	height: 70px;
	display: block;
	border-radius: 100%;
	position: relative;
	text-align: center;
} 
.sub-buttons > .main-button button {
    font-size: 40px;
    color: white;
    background:  rgb(27, 100, 113);
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 100%;
    position: relative;
    text-align: center;
    z-index: 19;
}
.sub-buttons > li > button span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: 40px;
	width: 40px;
	opacity: 0;
	z-index: 12;
}

/* Movements List */
.movements-list {
	font-weight: bold;
	font-size: 1.1em;
}
.movements-list:hover {
	background-color: rgb(207, 222, 227);
}
.details {
	display: none;
}
.row:hover .details {
	display: block;
	cursor: pointer;
}

/* Colors */
.income-bg {
	background-color: rgb(207, 193, 44);
}
.saves-bg {
	background-color: rgb(27, 100, 113);
}
.usage-bg {
	background-color: rgb(43, 160, 214);
}
.expense-bg {
	background-color: brown;
}
.fixed-bg {
	background-color: rgb(147, 40, 90);
}
.ocassional-bg {
	background-color: rgb(138, 181, 63);
}
.conmo-bg {
    background-color: rgb(27, 100, 113);
}


.income-light-bg {
	background-color: rgb(231, 204, 35);
}
.ocassional-light-bg {
	background-color: rgb(175, 200, 62);
}
.fixed-light-bg {
	background-color: rgb(192, 22, 101);
}
.usage-light-bg {
	background-color: rgb(108, 181, 223);
}
.saves-light-bg {
	background-color: rgb(7, 128, 139);
}
.conmo-light-bg {
    background-color: rgb(7, 128, 139);
}

.income-text {
	color: rgb(207, 193, 44);
}
.saves-text {
	color: rgb(40, 124, 147);
}
.usage-text {
	color: rgb(43, 160, 214);
}
.expenses-text {
	color: brown;
}
.fixed-text {
	color: rgb(147, 40, 90);
}
.ocassional-text {
	color: rgb(138, 181, 63);
}
.conmo-text {
	color: rgb(27, 100, 113);
}
.conmo-light-text {
	color: rgb(7, 128, 139);
}


.sweet-loading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}