#landing /*No hace nada, temporal para recordar el uso de este id*/{
	height: 100%;
}

.navbar {
	background: rgb(40, 124, 147);
}

#offcanvasNavbar {
	background: rgb(40, 124, 147);
}

.conmo /*Da formato al logo*/ {
    font-family: 'Righteous', cursive;
    color:white;
    padding: 10px;
}

.header {
    font-size: 5em;
}

/* #login {
    font-size: 5em;
} */

#left-background {
	background-color: rgb(40, 124, 147, 0.564);
}

#right-background {
	background-color: rgb(40, 124, 147);
}


/*Edicion de input repetida, para borrar o mover a forms*/
input {
	font-size: 1.3em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color: white;
}

input::placeholder {
	font-size: 1.3em;
	color:white;
}

#button-confirm {
    background-color: rgb(33, 107, 127);
}

a {
    height: 5rem;
    width: 100%;
    padding: 10px;
    color: white;
    font-size:x-large;
    text-decoration: none;
}

a:link {
    color:white;
}

a:hover {
    color:white;
    font-weight: bold;
}

.sidebar {
	background: rgb(40, 124, 147);
}
.available {
    background-color: rgb(33, 107, 127);
}

.custom-dropdown {
    position: relative;
    display: flex; /* Utilizamos flexbox para centrar horizontalmente */
    justify-content: center; /* Alineamos los elementos verticalmente en el centro */
	background-color: rgb(184, 213, 222);
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
    border-radius: 50px;
}
  
.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drop-title {
    color: #000000;
    padding-left: 8px;
}
  
.dropdown-arrow {
    font-size: 0.5em;
    margin-left: 5px;
    transition: transform 0.3s ease;
    color: #000000; 
}
  
.open {
    transform: rotate(180deg);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(221, 232, 236);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    padding: 10px 0px;
}
  
.dropdown-item {
    padding: 8px 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
  
.dropdown-item:hover {
    background-color: rgb(194, 221, 231);
}
  
.custom-dropdown:hover .dropdown-content {
    display: block;
}

#principalCarousel {
    position: relative;
}

.carousel-control-prev, .carousel-control-next {
    top: 45px;
    transform: translateY(-50%);
    width: 5%; /* Ajusta el ancho de la zona de selección de las flechas */
    height: 2%;
    margin-right: 30%;
    margin-left: 30%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    border-radius: 50%; /* Ajusta la forma del área de selección */
    padding: 10px; /* Ajusta el relleno del área de selección */
}

.description-text {
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 20px;
}