

.navbar {
    background-color:  rgb(27, 100, 113);
    /* background: rgb(40, 124, 147); */
    /* background-color: rgb(33, 107, 127); */
    height: 100px;
}

#offcanvasNavbar {
	background: rgb(27, 100, 113);
}

.conmo /*Da formato al logo*/ {
    font-family: 'Righteous', cursive;
    color:white;
    padding: 10px;
    font-size: 190%;
}

.conmo-title {
    font-family: 'Righteous', cursive;
    color:white;
    padding: 10px;
}

.login {
    background-color:  rgb(27, 100, 113);
}

#left-background {
	/* background-color: rgb(40, 124, 147, 0.564); */
    background-color: rgb(7, 128, 139);
}

#right-background {
	background-color: rgb(40, 124, 147);
}


/*Edicion de input repetida, para borrar o mover a forms*/
input {
	font-size: 1.3em;
	outline: none;
	background-color: rgba(40, 124, 147, 0);
	color: white;
}

input::placeholder {
	font-size: 1.3em;
	color:white;
}

#button-confirm {
    background-color: rgb(33, 107, 127);
}

a {
    /* height: 5rem; */
    width: 100%;
    padding: 10px;
    color: white;
    font-size:x-large;
    text-decoration: none;
}

a:link {
    color:white;
}

a:hover {
    color:white;
    font-weight: bold;
}

.sidebar {
	background: rgb(40, 124, 147);
}
.available {
    background-color: rgb(7, 128, 139);
}


  
.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.drop-title {
    color: #ffffff;
    padding-left: 8px;
}
  
.dropdown-arrow {
    font-size: 0.5em;
    margin-left: 5px;
    transition: transform 0.3s ease;
    color: white;
}
  
.open {
    transform: rotate(180deg);
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(221, 232, 236);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    padding: 10px 0px;
}
  
.dropdown-item {
    padding: 8px 50px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
  
.dropdown-item:hover {
    background-color: rgb(194, 221, 231);
}
  
.custom-dropdown:hover .dropdown-content {
    display: block;
}

.custom-dropdown {
    z-index: 1000;
}

#principalCarousel {
    position: relative;
}



